<!doctype html>
<html lang="en">

<head>
  <title>Category Edit Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<!-- Creating the category form for insert the category-->

<body>
  <%- include('includes/nav.ejs') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <form method="post" action="/category/edit/<%= Course.id %>" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Category Name :</label>
        <input type="text" class="form-control" name="CategoryName" id="formGroupExampleInput"
          value="<%= edit ? Course.CategoryName : '' %>" placeholder="Enter the Category name" required>
      </div>
      <div>
        <input type="submit" value="Update">
      </div>
    </form>
</body>

</html>